<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Étudiant en informatique">
    <title>Projet TARS</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/projects.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="../../assets/content/images/icon.png" type="icon" />
    <script defer src="../../assets/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
</head>

<body onload="svgAnimations()">
    <header id="header">
        <a href="../../index.html#home" id="logo" class="logo">jb</a>
        <div class="laptop-navbar">
            <nav>
                <ul>
                    <li><a href="../../index.html#about" class="element">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects" class="element">Projets</a></li>
                    <li><a href="../../index.html#technology-watch" class="element">Veille</a></li>
                    <li><a href="../../index.html#contact" class="element">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-navbar">
            <nav onclick="showMobileNavbar()">
                <button class="hamburger" onclick="openNavbar()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
                <ul>
                    <li><a href="../../index.html#about">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects">Projets</a></li>
                    <li><a href="../../index.html#technology-watch">Veille</a></li>
                    <li><a href="../../index.html#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="inavailable">
            <h2>Indisponible pour le moment. Veuillez revenir plus tard.</h2>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2023 J. BAYON</p>
        </div>
        <div class="footer-links">
            <button class="footer-link-2">
                <a href="https://www.linkedin.com/in/jeremiebayon/" target="_blank">
                    <div id="linkedin-logo-animation-projects-footer-container"></div>
                </a>
            </button>
            <button class="footer-link-3">
                <a href="https://github.com/Akkyaane" target="_blank">
                    <div id="github-logo-animation-projects-footer-container"></div>
                </a>
            </button>
        </div>
    </footer>
    </body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    </body>

</html>