<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Étudiant en informatique">
    <title>Projet TARS 1</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/projects.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="../../assets/content/images/icon.png" type="icon" />
    <script defer src="../../assets/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
</head>

<body onload="svgAnimations()">
    <header id="header">
        <a href="../../index.html#home" id="logo" class="logo">jb</a>
        <div class="laptop-navbar">
            <nav>
                <ul>
                    <li><a href="../../index.html#about" class="element">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects" class="element active">Projets</a></li>
                    <li><a href="../../index.html#technology-watch" class="element">Veille</a></li>
                    <li><a href="../../index.html#contact" class="element">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-navbar">
            <nav onclick="showMobileNavbar()">
                <button class="hamburger" onclick="openNavbar()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
                <ul>
                    <li><a href="../../index.html#about">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects">Projets</a></li>
                    <li><a href="../../index.html#technology-watch">Veille</a></li>
                    <li><a href="../../index.html#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="inavailable">
            <h2>Indisponible pour le moment.<br>Veuillez revenir plus tard.</h2>
            <div class="nav">
                <button><a href="../projects/gsb-mobile.html"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 -960 960 960">
                            <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                        </svg></a></button>
                <button><a href="../../index.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path
                                d="M280-200v-80h284q63 0 109.5-40T720-420q0-60-46.5-100T564-560H312l104 104-56 56-200-200 200-200 56 56-104 104h252q97 0 166.5 63T800-420q0 94-69.5 157T564-200H280Z" />
                        </svg></a></button>
                <button><a href="../projects/dopamine.html"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 -960 960 960">
                            <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                        </svg></a></button>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2024 J. BAYON</p>
        </div>
        <div class="footer-links">
            <button class="footer-link-2">
                <a href="https://www.linkedin.com/in/jeremiebayon/" target="_blank">
                    <div id="linkedin-logo-animation-footer-container"></div>
                </a>
            </button>
            <button class="footer-link-3">
                <a href="https://github.com/Akkyaane" target="_blank">
                    <div id="github-logo-animation-footer-container"></div>
                </a>
            </button>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>