<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Étudiant en informatique">
    <title>Projet TARS</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/projects.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="../../assets/content/images/icon.png" type="icon" />
    <script defer src="../../assets/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
</head>

<body onload="svgAnimations()">
    <header id="header">
        <a href="../../index.html#home" id="logo" class="logo">jb</a>
        <div class="laptop-navbar">
            <nav>
                <ul>
                    <li><a href="../../index.html#about" class="element">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects" class="element active">Projets</a></li>
                    <li><a href="../../index.html#technology-watch" class="element ">Veille</a></li>
                    <li><a href="../../index.html#contact" class="element">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-navbar">
            <nav onclick="showMobileNavbar()">
                <button class="hamburger" onclick="openNavbar()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
                <ul>
                    <li><a href="../../index.html#about">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects">Projets</a></li>
                    <li><a href="../../index.html#technology-watch">Veille</a></li>
                    <li><a href="../../index.html#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="about-chatbot-tars-project">
            <div class="about-chatbot-tars-project-container">
                <h2>Projet TARS</h2>
                <div class="about-chatbot-tars-project-context">
                    <h3>Contexte</h3>
                    <p>
                        À l'occasion du premier stage de BTS SIO, qui s'est déroulé du
                        30 mai 2023 au 28 juillet 2023, j'ai eu l'opportunité de travailler sur le <span>développement
                            d'un
                            chatbot nommé TARS</span> au sein de l'entreprise <a href="https://www.kozea.fr/">Kozea
                            group</a>. Spécialisée dans le milieu
                        médical, Kozea group accompagne et facilite le travail des professionnels de santé en proposant
                        des services digitaux. De la
                        création et la promotion de sites internet incluant différentes
                        fonctionnalités (envoi d'ordonnances, vente de produits, Click and Collect, prise de
                        rendez-vous) pour les établissement de santés à la gestion du tiers-payant ou des réseaux
                        sociaux : tout est pensé pour permettre aux professionnels de santé
                        de se recentrer sur leur cœur de métier.
                    </p>
                    <p class="zoom-in">
                        Afin d'optimiser le temps et l'efficacité des employés, le chatbot TARS a pour objectif de
                        rendre plus simple la recherche d'informations concernant l'entreprise et son activité.
                    </p>
                </div>
                <div>
                    <h3>Technologies</h3>
                    <p>
                        Le projet a nécessité l'utilisation de divers outils de développement : <span
                            class="background">Python, Flask, Llama Index,
                            LangChain et Pinecone</span>.
                    </p>
                    <p>
                        L'application a été développé en Python, ce stage a été l'occasion pour moi d'apprendre ce langage et de comprendre et
                        mettre en application les différentes connaissances apprises à l'école (structure du code, créations
                        et appels de fonctions, création du jeu du Morpion, création d'un blog, etc.).
                    </p>
                    <p>
                        Concernant le rendu visuel du chatbot, j'ai eu la possibilité d'utiliser Flask, un <a
                            href="https://www.vigicorp.fr/qu-est-ce-qu-un-framework/">framework</a> Python, et de découvrir
                        les différentes fonctionnalités proposées (HTML escaping, unique URLs, rendering templates,
                        redirects, etc.).
                    </p>
                </div>
                <div class="container">
                    <div class="slider__wrapper">
                        <div class="slider">
                          <img src="https://source.unsplash.com/mBQIfKlvowM" alt="" id="slide1">
                          <img src="https://source.unsplash.com/YeBI31kK2_4" alt="" id="slide2">
                          <img src="https://source.unsplash.com/dSBsCzzlqTU" alt="" id="slide3">
                        </div>
                        <div class="slider__nav">
                          <a id="btn1" href="#slide1"></a>
                                <a id="btn2" href="#slide2"></a>
                                <a id="btn3" href="#slide3"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Fonctionnement</h3>
                    <p>
                        Pour faire fonctionner TARS, il est nécessaire de lier un Drive tel que Google Drive ou de déposer
                        des documents dans la <a
                            href="https://www.cloudflare.com/fr-fr/learning/ai/what-is-vector-database/">base de
                            données
                            vectorielle</a> Pinecone, qui se charge de construire un index dans lequel elle transforme les
                        données en vecteurs. Cet index est ensuite utilisé pour répondre aux requêtes de l'utilisateur en
                        mesurant la similarité entre les éléments grâce à leurs caractéristiques. L'API, construite en
                        Python, se charge ensuite de récupérer l'index et de traiter les requêtes. Via les frameworks
                        d'intelligence artificielle Llama Index et Langchain, les données récupérées sont découpées en
                        nodes, c'est-à-dire des petits morceaux de textes, sur lesquels le chatbot, basé sur la logique de
                        ChatGPT, va utiliser, en plus du prompt (instructions), pour répondre à l'utilisateur de la manière
                        la plus précise et la plus pertinente possible.
                    </p>
                </div>
                <p>
                    Par ailleurs, j'ai également pu découvrir très rapidement quelques commandes Git, la logique de
                    GitHub, et le langage React.
                </p>
                <p>
                    En conclusion, ce stage m'a permis de solidifier ma vision et mes idées de développeur, de
                    réellement découvrir comment une entreprise fonctionnait en interne, de découvrir d'autres métiers
                    informatiques ou non et de me constituer un premier réseau.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2023 J. BAYON</p>
        </div>
        <div class="footer-links">
            <button class="footer-link-2">
                <a href="https://www.linkedin.com/in/jeremiebayon/" target="_blank">
                    <div id="linkedin-logo-animation-footer-container"></div>
                </a>
            </button>
            <button class="footer-link-3">
                <a href="https://github.com/Akkyaane" target="_blank">
                    <div id="github-logo-animation-footer-container"></div>
                </a>
            </button>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>