<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Étudiant en informatique">
    <title>TARS 1</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/projects.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="../../assets/content/images/icon.png" type="icon" />
    <script defer src="../../assets/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
</head>

<body onload="svgAnimations()">
    <header id="header">
        <a href="../../index.html#home" id="logo" class="logo">jb</a>
        <div class="laptop-navbar">
            <nav>
                <ul>
                    <li><a href="../../index.html#about" class="element">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects" class="element active">Projets</a></li>
                    <li><a href="../../index.html#technology-watch" class="element">Veille</a></li>
                    <li><a href="../../index.html#contact" class="element">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-navbar">
            <nav onclick="showMobileNavbar()">
                <button class="hamburger" onclick="openNavbar()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
                <ul>
                    <li><a href="../../index.html#about">À propos</a></li>
                    <li><a href="../../index.html#skills-and-projects">Projets</a></li>
                    <li><a href="../../index.html#technology-watch">Veille</a></li>
                    <li><a href="../../index.html#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="about-project">
            <div class="about-project-container">
                <h2>TARS <em>1</em></h2>
                <div class="about-project-context">
                    <h3>Contexte</h3>
                    <p>
                        À l'occasion du premier stage de BTS SIO, qui s'est déroulé du
                        30 mai au 28 juillet 2023, j'ai eu l'opportunité de travailler sur le <span>développement
                            d'un
                            chatbot nommé TARS 1</span> au sein de l'entreprise <a href="https://www.kozea.fr/"
                            target="_blank">Kozea
                            group</a>. Spécialisée dans le milieu
                        médical, Kozea group accompagne et facilite le travail des professionnels de santé en proposant
                        des services digitaux. De la
                        création et la promotion de sites internet incluant différentes
                        fonctionnalités (envoi d'ordonnances, vente de produits, Click and Collect, prise de
                        rendez-vous) pour les établissements de santé à la gestion du tiers-payant ou des réseaux
                        sociaux : tout est pensé pour permettre aux professionnels de santé
                        de se recentrer sur leur cœur de métier.
                    </p>
                    <p class="zoom-in">
                        Afin d'optimiser le temps et l'efficacité des employés, le chatbot TARS 1 a pour objectif de
                        rendre plus simple la recherche d'informations concernant l'entreprise et son activité.
                    </p>
                </div>
                <div class="about-project-technologies">
                    <h3>Technologies</h3>
                    <p>
                        Plusieurs outils de développement ont été utilisés, dont <span>Python,
                            Flask, Llama Index,
                            LangChain et Pinecone</span>.
                    </p>
                    <p>
                        Côté <a
                            href="https://www.wildcodeschool.com/fr-fr/blog/differences-backend-frontend-developpement-web"
                            target="_blank">back-end</a>, l'application a été développée en Python et à l'aide des <a
                            href="https://www.journaldunet.fr/web-tech/dictionnaire-du-webmastering/1203355-framework/"
                            target="_blank">frameworks</a> d'intelligence artificielle
                        Llama Index et Langchain, basés sur la logique de ChatGPT 4. C'était l'occasion pour moi,
                        d'apprendre un nouveau
                        langage et de comprendre et
                        mettre en application les différentes connaissances apprises à l'école (structure d'un code,
                        créations
                        et appels de fonctions, création du jeu du Morpion et d'un mini blog).
                    </p>
                    <p>
                        Côté <a
                            href="https://www.wildcodeschool.com/fr-fr/blog/differences-backend-frontend-developpement-web"
                            target="_blank">front-end</a>, l'interface a été développée avec Flask, un framework basé
                        sur le langage
                        Python, me permettant de découvrir
                        les différentes fonctionnalités proposées (HTML escaping, unique URLs, rendering templates,
                        redirects, etc.). Une interface de type chatbot a été intégrée au projet pour mettre en avant le
                        côté conversationnel entre l'utilisateur et l'intelligence artificielle.
                    </p>
                    <p>
                        J'ai aussi pu découvrir la logique <span>Git</span> et quelques-unes de ses commandes.
                    </p>
                </div>
                <div class="about-project-use">
                    <h3>Fonctionnement</h3>
                    <p>
                        Pour faire fonctionner TARS 1, il est nécessaire de
                        déposer
                        des documents, soit manuellement, soit en liant un Drive tel que Google Drive, dans la <a
                            href="https://www.cloudflare.com/fr-fr/learning/ai/what-is-vector-database/"
                            target="_blank">base de
                            données
                            vectorielle</a> Pinecone, qui se charge de construire un index dans lequel elle transforme
                        les
                        données en <a href="https://fr.wikipedia.org/wiki/Vecteur" target="_blank">vecteurs</a>. Cet
                        index est ensuite utilisé pour répondre aux requêtes de l'utilisateur
                        en
                        mesurant la similarité entre les éléments grâce à leurs caractéristiques. L'application se
                        charge ensuite de récupérer l'index et de traiter les requêtes. Via les frameworks
                        d'intelligence artificielle, les données récupérées sont découpées en
                        nodes, c'est-à-dire des petits morceaux de textes que le chatbot va utiliser, en plus des
                        instructions, pour répondre à l'utilisateur de la
                        manière
                        la plus précise et la plus pertinente possible.
                    </p>
                </div>
                <div class="carousel-container-1">
                    <div class="carousel-container-2">
                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <img src="../../assets/content/images/projects/tars1/tars-1-screenshot-1.png"
                                    alt="Projet TARS 1 - Capture d'écran 1">
                                <img src="../../assets/content/images/projects/tars1/tars-1-screenshot-2.png"
                                    alt="Projet TARS 1 - Capture d'écran 2">
                                <img src="../../assets/content/images/projects/tars1/tars-1-screenshot-3.png"
                                    alt="Projet TARS 1 - Capture d'écran 3">
                                <img src="../../assets/content/images/projects/tars1/tars-1-screenshot-4.png"
                                    alt="Projet TARS 1 - Capture d'écran 4">
                                <img src="../../assets/content/images/projects/tars1/tars-1-screenshot-5.png"
                                    alt="Projet TARS 1 - Capture d'écran 4">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-indicator">
                        <button class="indicator-button"></button>
                        <button class="indicator-button"></button>
                        <button class="indicator-button"></button>
                        <button class="indicator-button"></button>
                        <button class="indicator-button"></button>
                    </div>
                    <button class="carousel-prev">&#10094;</button>
                    <button class="carousel-next">&#10095;</button>
                </div>
                <div class="about-project-conclusion">
                    <h3>Conclusion</h3>
                    <p>
                        Cette première expérience a consolidé ma vision et mes idées sur le métier de développeur, m'a
                        permis de comprendre comment une entreprise fonctionnait réellement en interne, de découvrir
                        d'autres
                        métiers du domaine informatique
                        ou d'un domaine différent et de me constituer un premier réseau.
                    </p>
                </div>
                <div class="nav">
                    <button><a href="../projects/dopamine.html"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 -960 960 960">
                                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                            </svg></a></button>
                    <button><a href="../../index.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path
                                    d="M280-200v-80h284q63 0 109.5-40T720-420q0-60-46.5-100T564-560H312l104 104-56 56-200-200 200-200 56 56-104 104h252q97 0 166.5 63T800-420q0 94-69.5 157T564-200H280Z" />
                            </svg></a></button>
                    <button><a href="../projects/tars-virtual-assistant.html"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 -960 960 960">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg></a></button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2024 J. BAYON</p>
        </div>
        <div class="footer-links">
            <button class="footer-link-2">
                <a href="https://www.linkedin.com/in/jeremiebayon/" target="_blank">
                    <div id="linkedin-logo-animation-footer-container"></div>
                </a>
            </button>
            <button class="footer-link-3">
                <a href="https://github.com/Akkyaane" target="_blank">
                    <div id="github-logo-animation-footer-container"></div>
                </a>
            </button>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>