@font-face {
  font-family: "Library3am";
  src: url(fonts/library3am/library3am-5v3z-webfont.woff);
}
@font-face {
  font-family: "Pro-Pixie";
  src: url(fonts/pro-pixie/ProcrastinatingPixie-WyVOO.ttf);
}
@font-face {
  font-family: "Salma-Pro";
  src: url(fonts/salma-pro/salmapromedium-yw9ad-webfont.woff);
}
* {
  -ms-overflow-style: none;   /*Edge & Firefox*/
  box-sizing: border-box;
  color: #fff;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  scrollbar-width: none;   /*Edge & Firefox*/
  text-decoration: none;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #000;
}
video {
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.hidden-x {
  filter: blur(5px);
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.5s;
}
.hidden-y {
  filter: blur(5px);
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.5s;
}
.show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

/* Header */
header {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
  height: auto;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header img {
  height: 200px;
  width: 200px;
}
.hamburger,
.bar {
  position: fixed;
}
.hamburger {
  background: 0 0;
  border: 0;
  display: block;
  height: 30px;
  right: 5%;
  top: 5%;
  transform: translateY(-50%);
  width: 30px;
}
.bar {
  background: #fff;
  height: 4px;
  top: 3px;
  transition: all 0.3s ease-in;
  width: 100%;
}
#bar2 {
  top: 11px;
}
#bar3 {
  top: 19px;
}
.mobile-navigation.active {
  right: 0;
}
.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}
.hamburger.open #bar2 {
  background-color: transparent;
}
.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}
.mobile-navigation {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  position: fixed;
  right: -101%;
  top: 0;
  transition: 0.4s;
  width: 100%;
}
.mobile-navigation nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.mobile-navigation nav ul {
  width: 100%;
}
.mobile-navigation nav ul li {
  background-color: rgb(0, 0, 0);
  border-bottom: solid 1px #000;
  border-left: solid 3px #ffffff;
  font-family: "Library3am", Tahoma, Arial;
  font-size: 4vw;
  padding: 40px;
  text-align: justify;
  text-transform: uppercase;
}
.laptop-navigation nav ul {
  display: flex;
}
.laptop-navigation nav ul li {
  font-family: "Library3am", Tahoma, Arial;
  font-size: 1.5vw;
  padding: 0 20px;
  text-transform: uppercase;
}

/* Main */
main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section {
  align-items: center;
  display: flex;
  height: 100svh;
  justify-content: center;
  scroll-snap-align: start;
}
.home {
  font-family: "Library3am", Tahoma, Arial;
  text-align: center;
}
.home .welcome h2 {
  font-size: 2vw;
}
.home .welcome .loop {
  font-size: 3vw;
  padding: 0 60px;
}
.about-box {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.about-box::before {
  animation: rotate 5s linear infinite;
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff);
  content: "";
  height: 70%;
  position: absolute;
  width: 200%;
}
.about-box::after {
  background-color: rgb(10, 10, 10);
  border-radius: 20px;
  content: "";
  inset: 7.5px;
  position: absolute;
}
.scrollable-div-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  overflow: auto;
  z-index: 1;
}
.about-title {
  font-family: "Library3am", Tahoma, Arial;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.about-info {
  align-items: center;
  display: flex;
  justify-content: center;
}
.about-picture {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  z-index: 1;
}
.about-picture img {
  border: solid rgb(255, 255, 255);
  height: 475px;
  width: 375px;
}
.about-resume {
  font-family: "Pro-Pixie", Tahoma, Arial;
  font-size: 20px;
  margin-left: 20px;
  text-align: justify;
  width: 30vw;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* Footer */
footer {
  align-items: end;
  bottom: 0;
  display: flex;
  font-family: "Pro-Pixie", Tahoma, Arial;
  height: auto;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
}
.footer-button img {
  height: 50px;
  width: 50px;
}
.footer-button .link1 img {
  height: 60px;
  width: 60px;
}
.footer-button button {
  background: none;
  border: none;
  z-index: 1;
}
.footer-button {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 40px;
}
.copyright {
  font-size: 1rem;
  padding-bottom: 20px;
  padding-left: 40px;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  section {
    height: 100svh;
  }
  header img {
    height: 125px;
    width: 125px;
  }
  .laptop-navigation-hidden {
    display: none;
  }
  .mobile-navigation-hidden {
    display: block;
  }
  a {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
  }
  .home .welcome h2 {
    font-size: 6vw;
  }
  .home .welcome .loop {
    font-size: 7vw;
    padding: 0 20px;
  }
  .about-box {
    border-radius: 5px;
    width: 100%;
  }
  .about-box::after {
    border-radius: 5px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 5vw;
  }
  .about-picture {
    display: none;
  }
  .about-resume {
    font-size: 4vw;
    margin-left: 0;
    width: 80vw;
  }
  .footer-button img {
    height: 40px;
    width: 40px;
  }
  .footer-button .link1 img {
    height: 50px;
    width: 50px;
  }
  .footer-button {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-right: 30px;
  }
  .copyright {
    padding-bottom: 10px;
    padding-left: 30px;
  }
}

/* Small devices */
@media only screen and (min-width: 600px) {
  header img {
    height: 150px;
    width: 150px;
  }
  .laptop-navigation-hidden {
    display: none;
  }
  .mobile-navigation-hidden {
    display: block;
  }
  a {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
  }
  .home .welcome h2 {
    font-size: 5vw;
  }
  .home .welcome .loop {
    font-size: 6vw;
    padding: 0 40px;
  }
  .about-box {
    border-radius: 10px;
    width: 90%;
  }
  .about-box::after {
    border-radius: 10px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 3.75vw;
  }
  .about-picture {
    display: none;
  }
  .about-resume {
    font-size: 2.75vw;
    margin-left: 0;
    width: 70vw;
  }
  .footer-button {
    display: flex;
    padding-bottom: 10px;
    padding-right: 30px;
  }
  .copyright {
    padding-bottom: 10px;
    padding-left: 30px;
  }
}

/* Medium-min devices */
@media only screen and (min-width: 768px) {
  header img {
    height: 175px;
    width: 175px;
  }
  .laptop-navigation-hidden {
    display: none;
  }
  .mobile-navigation-hidden {
    display: block;
  }
  a {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
  }
  .home .welcome h2 {
    font-size: 3vw;
  }
  .home .welcome .loop {
    font-size: 4vw;
  }
  .about-box {
    border-radius: 15px;
    width: 80%;
  }
  .about-box::after {
    border-radius: 15px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 3.25vw;
  }
  .about-picture {
    display: none;
  }
  .about-resume {
    font-size: 2.25vw;
    margin-left: 0;
    width: 60vw;
  }
  .footer-button {
    display: flex;
  }
}

/* Medium-max devices */
@media only screen and (min-width: 992px) {
  .laptop-navigation-hidden {
    display: block;
  }
  .mobile-navigation-hidden {
    display: none;
  }
  .home .welcome h2 {
    font-size: 2.75vw;
  }
  .home .welcome .loop {
    font-size: 3.75vw;
  }
  .about-box {
    border-radius: 15px;
    height: 60%;
    width: 80%;
  }
  .about-box::after {
    border-radius: 15px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 2.5vw;
  }
  .about-picture {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;
  }
  .about-picture img {
    border: solid rgb(255, 255, 255);
    height: 400px;
    width: 300px;
  }
  .about-resume {
    font-size: 1.5vw;
    margin-left: 20px;
    width: 30vw;
  }
  .footer-button {
    display: flex;
  }
}

/*Medium-extra devices*/
@media only screen and (min-width: 1080px) {
  .laptop-navigation-hidden {
    display: block;
  }
  .mobile-navigation-hidden {
    display: none;
  }
  .laptop-navigation nav ul li {
    font-size: 1.25vw;
  }
  .home .welcome h2 {
    font-size: 3vw;
  }
  .home .welcome .loop {
    font-size: 4vw;
  }
  .about-box {
    border-radius: 15px;
    height: 60%;
    width: 80%;
  }
  .about-box::after {
    border-radius: 15px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 2.25vw;
  }
  .about-picture {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .about-picture img {
    border: solid rgb(255, 255, 255);
    height: 425px;
    width: 325px;
  }
  .about-resume {
    font-size: 1.25vw;
    margin-left: 20px;
    width: 30vw;
  }
  .footer-button {
    display: flex;
  }
}

/* Large devices */
@media only screen and (min-width: 1200px) {
  .laptop-navigation-hidden {
    display: block;
  }
  .mobile-navigation-hidden {
    display: none;
  }
  .laptop-navigation nav ul li {
    font-size: 1.25vw;
  }
  .home .welcome h2 {
    font-size: 2vw;
  }
  .home .welcome .loop {
    font-size: 3vw;
    padding: 0 60px;
  }
  .about-box {
    border-radius: 20px;
    width: 70%;
  }
  .about-box::after {
    border-radius: 20px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 38px;
  }
  .about-picture {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;
  }
  .about-picture img {
    border: solid rgb(255, 255, 255);
    height: 450px;
    width: 350px;
  }
  .about-resume {
    font-size: 18px;
    margin-left: 20px;
    width: 30vw;
  }
  .footer-button {
    display: flex;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .copyright {
    padding-bottom: 30px;
    padding-left: 50px;
  }
}

/*Extra large devices*/
@media only screen and (min-width: 1600px) {
  .laptop-navigation-hidden {
    display: block;
  }
  .mobile-navigation-hidden {
    display: none;
  }
  .laptop-navigation nav ul li {
    font-size: 1vw;
  }
  .home .welcome h2 {
    font-size: 1.75vw;
  }
  .home .welcome .loop {
    font-size: 2.75vw;
  }
  .about-box {
    border-radius: 20px;
    width: 60%;
  }
  .about-box::after {
    border-radius: 20px;
  }
  .scrollable-div-content {
    display: block;
  }
  .about-title {
    font-size: 40px;
  }
  .about-picture {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;
  }
  .about-picture img {
    border: solid rgb(255, 255, 255);
    height: 475px;
    width: 375px;
  }
  .about-resume {
    font-size: 20px;
    margin-left: 20px;
    width: 30vw;
  }
  .footer-button img {
    height: 60px;
    width: 60px;
  }
  .footer-button .link1 img {
    height: 70px;
    width: 70px;
  }
  .footer-button {
    display: flex;
    padding-bottom: 40px;
    padding-right: 60px;
  }
  .copyright {
    padding-bottom: 40px;
    padding-left: 60px;
  }
}

.projects-box {
  width: 70%;
  overflow: visible;
}

.slider-wrapper {
  position: relative;
  overflow: visible;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 2;
  display: flex;
  cursor: pointer;
  font-size: 3vw;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #303030;
}

.slider-wrapper .slide-button#prev-slide {
  left: -80px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -80px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .card {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.projects-box .slider-scrollbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ffffff;
  width: 100%;
  height: 3px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.card {
  position: relative;
  margin: 10px;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(10, 10, 10, 0.95);
  background-size: cover;
  background-image: url(../content/images/pngwing.com.png);
  border: solid white;
}

.card h2 {
  font-size: 2vw;
  text-align: center;
  font-family: "Pro-Pixie", Tahoma, Arial;
}

.card .overlay {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: 0.3s;
  border-radius: 18px;
  font-size: 20px;
}

.card:hover .overlay {opacity: 1;}

.card .btn {
  padding: 0.6em 1.3em;
  text-decoration: none;
  color: white;
  border: 2px white solid;
  letter-spacing: 1px;
  border-radius: 8px;
}

.card .overlay p {
  font-size: 20px;
  font-family: "Pro-Pixie", Tahoma, Arial;
  padding: 50px;
}

.card .overlay h2 {
  font-size: 40px;
  font-family: "Pro-Pixie", Tahoma, Arial;
}

.card .btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.card .btn {
  transition: 0.3s;
  transform: translateY(-20px);
}

.card:hover .btn {
  transform: translateY(0);
}

/* Styles for mobile and tablets */
/* @media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
} */


