@font-face {
 font-family:'Library3am';
src:url(/style/fonts/library3am/library3am-5v3z-webfont.woff); 
}
@font-face {
    font-family: 'Pro-Pixie';
    src: url(/style/fonts/pro-pixie/ProcrastinatingPixie-WyVOO.ttf);
}
@font-face {
    font-family: 'Salma-Pro';
    src: url(/style/fonts/salma-pro/salmapromedium-yw9ad-webfont.woff);
}


* {
 margin:0;
padding:0;
color:#fff;
width:auto;
height:auto;
cursor: none;
}

body {
 background-color:#000;
 font-family:'Library3am', Tahoma, Arial; 
}

video {
 width:100%;
z-index:-1;
height:100%;
position:fixed;
object-fit:cover; 
}

.cursor {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 1;
}

.cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 8px solid white;
    border-radius: 50%;
    opacity: .3;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .8s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid white;
}

/* Header */

header {
 display:flex;
align-items:center;
flex-direction:column;
background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
}

img {
 width:250px;
height:250px; 
}

.hamburger,.bar {
 position:fixed; 
}

.hamburger {
 top:5%;
left:95%;
border:0;
width:30px;
height:30px;
display:block;
background:0 0;
transform:translateY(-50%); 
}

.bar {
 top:3px;
width:100%;
height:4px;
background:#fff;
transition:all .3s ease-in; 
}

#bar2 {
 top:11px; 
}

#bar3 {
 top:19px; 
}

.navigation.active {
 right:0; 
}

.hamburger.open #bar1 {
 background-color:#fff;
transform:rotate(45deg) translate(6px, 5px); 
}

.hamburger.open #bar2 {
 background-color:transparent; 
}

.hamburger.open #bar3 {
 background-color:#fff;
transform:rotate(-45deg) translate(6px, -5px); 
}

.navigation {
 width:350px;
height:100%;
right:-500px;
position:fixed;
transition:.4s;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); 
}

nav {
 top:150px;
right:50px;
width:250px;
position:absolute; 
}

.navigation ul li {
 color:#fff;
font-size:20px;
text-align:center;
padding:40px 30px;
list-style-type:none;
text-transform:uppercase;
border-bottom:1px solid #fff; 
}

/* Main */

main {
 display:flex;
text-align:center;
padding:350px 0px;
align-items:center;
justify-content:center; 
}

.welcome-word {
 font-size:40px; 
}

.loop {
 font-size:60px; 
}

footer {
 height:250px;
display:flex;
align-items:end;
justify-content:space-between;
font-family:'Pro-Pixie', Tahoma, Arial; 
}

.footer-button img {
 width:50px;
height:50px; 
}

.footer-button .link1 img {
 width:62.5px;
height:62.5px; 
}

.footer-button button {
 z-index:0;
border:none;
background:none; 
}

.footer-button {
 display:flex;
padding-right:50px;
padding-bottom:10px;
flex-direction:column; 
}

.copyright {
 padding-left:50px;
padding-bottom:10px;
}



