html,
body {
    overflow: visible;
}

/* Header */
header {
    background-color: #00072d;
}

.hamburger.open #bar1 {
    background-color: #00072d;
}

.hamburger.open #bar3 {
    background-color: #00072d;
}

.scrolled .logo {
    color: #00072d;
}

.scrolled .element {
    color: #00072d;
}

.scrolled .element:hover {
    color: #00072d;
}

.scrolled .element:after {
    background-color: #00072d;
}

.scrolled .bar {
    background: #00072d;
}

/* About */
.article {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    padding-top: 3.5rem;
}

.article-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.article-container h2 {
    font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 2rem 0;
    text-align: center;
}

.article-container h3 {
    font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 2rem 0;
}

.article-container h4 {
    font-weight: 900;
    padding: 2rem 0;
    text-align: center;
    text-decoration: underline;
}

.article-container p {
    padding-bottom: 1.5rem;
}

.article-container a {
    color: #00a7e1;
    font-weight: 900;
}

/* Footer */
@media only screen and (max-width: 767px) {
    .article-container {
        padding: 2rem;
    }

    .article-container h2 {
        font-size: 2rem;
    }

    .article-container p {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    .article-container a {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .article-container {
        padding: 2rem 0;
        width: 600px;
    }

    .article-container h2 {
        font-size: 2rem;
    }

    .article-container h3 {
        font-size: 1.50rem;
    }

    .article-container h4 {
        font-size: 1.15rem;
    }

    .article-container p {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    .article-container a {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .article-container {
        padding: 2rem 0;
        width: 600px;
    }

    .article-container h2 {
        font-size: 2rem;
    }

    .article-container h3 {
        font-size: 1.50rem;
    }

    .article-container h4 {
        font-size: 1.15rem;
    }

    .article-container p {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    .article-container a {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .article-container {
        padding: 2rem 0;
        width: 700px;
    }

    .article-container h2 {
        font-size: 2.5rem;
    }

    .article-container h3 {
        font-size: 1.75rem;
    }

    .article-container h4 {
        font-size: 1.25rem;
    }

    .article-container p {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    .article-container a {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1400px) {
    .article-container {
        padding: 2rem 0;
        width: 800px;
    }

    .article-container h2 {
        font-size: 3rem;
    }

    .article-container h3 {
        font-size: 2rem;
    }

    .article-container h4 {
        font-size: 1.5rem;
    }

    .article-container p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .article-container a {
        font-size: 1.5rem;
    }
}