html,
body {
    overflow: visible;
}

/* Header */
header {
    background-color: #00072d;
}

.hamburger.open #bar1 {
    background-color: #00072d;
}

.hamburger.open #bar3 {
    background-color: #00072d;
}

.scrolled .logo {
    color: #00072d;
}

.scrolled .element {
    color: #00072d;
}

.scrolled .element:hover {
    color: #00072d;
}

.scrolled .element:after {
    background-color: #00072d;
}

.scrolled .bar {
    background: #00072d;
}

.about-chatbot-tars-project {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    padding-top: 3.5rem;
}

.about-chatbot-tars-project-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-chatbot-tars-project-container h2 {
    font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.about-chatbot-tars-project-container h2:after {
    background-color: #00072d;
    bottom: 15px !important;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .about-chatbot-tars-project-container h3 {
    font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    padding: 1rem 0;
    width: auto;
    color: #00a7e1;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-weight: 100 !important;
}

.about-chatbot-tars-project-container h3::after {
    content: '';
    width: 100%;
    height: 2rem;
    position: absolute;
    top: 15px;
    left: -5px;
    z-index: -1;
    background-color:#edf8fe;
    transform: rotate(-2.5deg);
    border-radius: 5px;
}

.about-chatbot-tars-project-context {
    padding-bottom: 2rem;
}

.about-chatbot-tars-project-container p {
    padding: 1rem;
}

.about-chatbot-tars-project-container span {
    font-weight: 900;
}

.about-chatbot-tars-project-container a {
    font-weight: 900;
}

.about-chatbot-tars-project-container a:hover {
    color: #00a7e1;
}

.zoom-in {
    background-color: #edf8fe;
    border-radius: 5px;
}

.container {
    padding: 2rem;
  }
  
  .slider__wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
  /*   background-color: blue; */
  }
  
  .slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .slider::-webkit-scrollbar{
    display: none;
  }
  
  .slider img{
    flex: 1 0 100%; /* This will stretch the image*/
    scroll-snap-align: start;
    object-fit: cover; /* This will fix the stretch tho the image will be croppped a bit */
  }
  
  .slider__nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .slider__nav a{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity ease 0.25s;
  }
  
  .slider__nav a:hover {
    opacity: 1;
  }

.inavailable {
    align-items: center;
    display: flex;
    justify-content: center;
}

.inavailable h2 {
    font-size: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .about-chatbot-tars-project-container {
        padding: 2rem;
    }

    .about-chatbot-tars-project-container h2 {
        font-size: 2rem;
    }

    .about-chatbot-tars-project-container p {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    .about-chatbot-tars-project-container a {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-chatbot-tars-project-container {
        padding: 2rem 0;
        width: 600px;
    }

    .about-chatbot-tars-project-container h2 {
        font-size: 2rem;
    }

    .about-chatbot-tars-project-container p {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    .about-chatbot-tars-project-container a {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-chatbot-tars-project-container {
        padding: 2rem 0;
        width: 600px;
    }

    .about-chatbot-tars-project-container h2 {
        font-size: 2rem;
    }

    .about-chatbot-tars-project-container p {
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    .about-chatbot-tars-project-container a {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .about-chatbot-tars-project-container {
        padding: 2rem 0;
        width: 700px;
    }

    .about-chatbot-tars-project-container h2 {
        font-size: 2.5rem;
    }

    .zoom {
        font-size: 1rem;
    }

    .background {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .about-chatbot-tars-project-container p {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    .about-chatbot-tars-project-container a {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1500px) {
    .about-chatbot-tars-project-container {
        padding: 2rem 0;
        width: 800px;
    }

    .about-chatbot-tars-project-container h2 {
        font-size: 3rem;
    }

    .about-chatbot-tars-project-container h3 {
        font-size: 1.5rem;
    }


    .about-chatbot-tars-project-container p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .about-chatbot-tars-project-container span {
        font-size: 1.5rem;
    }

    .about-chatbot-tars-project-container a {
        font-size: 1.5rem;
    }
}