
























@media only screen and (max-width: 996px)  {
    .laptop-navbar {
        display: block;
    }

    .mobile-navbar {
        display: none;
    }

    .home-container h1 {
        color: #ffffff;
        font-size: 1.5rem;
        text-shadow:
        2.5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .home-carousel-wrapper {
        background-color: none;
        box-sizing: content-box;
        display: flex;
        height: 80px;
        padding: 1rem 0;
        width: auto;
    }
    
    .home-carousel-wrapper p {
        color: #ffffff;
        font-size: 4rem;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        text-shadow: 
        5px 0px 0px #000000;
    }

    .home-carousel-wrapper span {
        animation: spin_words 6s infinite;
        color: #ffffff;
        display: block;
        font-size: 4rem;
        padding-left: 1.25rem;
        text-shadow: 
        5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        height: 90px;
    }

    .home-link-1-a {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        display: block;
        font-weight: 900;
        padding: 0.6rem;
    }

    #linkedin-logo-animation-home-container {
        height: 40px;
        margin-right: -5px;
        width: 60px;
    }
    
    #github-logo-animation-home-container {
        height: 50px;
        width: 50px;
    }

    /* About */
    .about {
        height: 120vh;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
    }

    .about-title {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .about img {
        display: none;
    }

    .about-title h2 {
        font-size: 2rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .about-content {
        padding: 1.5rem 0;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .about-content a {
        font-weight: 900;
        font-size: 1rem;
        position: relative;
    }

    .about-content a:after {
        background-color: #000000;
        bottom: -2.5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    .about-content span {
        font-weight: 900;
        font-size: 1rem;
    }

    /* Skills and projects */
    .skills-and-projects {
        height: 160vh;
    }
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 700px;
        height: 30vh;
        overflow: hidden;
    }

    .skills-title h2 {
        font-size: 2rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .logos img {
        height: 50px;
        margin: 0 2rem;
        padding: 0 1rem;
    }

    .projects-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card h3 {
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    /* Technology Watch */
    .technology-watch-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
    }

    .technology-watch-container h2 {
        font-size: 2rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        padding: 1rem;
    }

    .technology-watch-container p {
        padding: 0.5rem 0;
        font-size: 1rem;
        line-height: 2rem;
    }

    .technology-watch-container .letter {
        font-size: 2rem;
    }

    .technology-watch-container a {
        font-weight: 900;
        font-size: 1rem;
        position: relative;
    }

    .technology-watch-container a:after {
        background-color: #000000;
        bottom: 2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    /* Contact */
    .contact-container {
        width: 400px;
    }

    .contact-title h2 {
        color: #ffffff;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    form .contact-input-container .contact-item input {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        height: 50px;
        margin-top: 0.5rem;
        color: #ffffff;
        padding: 1rem;
        width: 100%;
    }
    
    form .contact-textarea-container textarea {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-top: 0.5rem;
        padding: 1rem;
        width: 100%;
        color: #ffffff;
        height: 150px;
    }

    .submit {
        background: #ffffff;
        border-radius: 5px;
        color: #000000;
        cursor: pointer;
        font-weight: 900;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        border: 2px solid #ffffff;
    }

    /* Footer */
    .footer-links {
        align-items: center;
        display: flex;
        padding: 2rem;
    }

    #linkedin-logo-animation-footer-container {
        height: 30px;
        width: 40px;
    }

    #github-logo-animation-footer-container {
        height: 60px;
        width: 40px;
    }

    .copyright p {
        font-size: 1rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
        color: #000000;
        font-weight: 900;
    }
}














































@media only screen and (max-width: 1199px) {
    .laptop-navbar {
        display: block;
    }

    .mobile-navbar {
        display: none;
    }

    .home {
        height: 100vh;
    }

    .home-container h1 {
        color: #ffffff;
        font-size: 1.5rem;
        text-shadow:
        2.5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .home-carousel-wrapper {
        background-color: none;
        box-sizing: content-box;
        display: flex;
        height: 80px;
        padding: 1rem 0;
        width: auto;
    }
    
    .home-carousel-wrapper p {
        color: #ffffff;
        font-size: 4rem;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        text-shadow: 
        5px 0px 0px #000000;
    }

    .home-carousel-wrapper span {
        animation: spin_words 6s infinite;
        color: #ffffff;
        display: block;
        font-size: 4rem;
        padding-left: 1.25rem;
        text-shadow: 
        5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        height: 90px;
    }

    .home-link-1-a {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        display: block;
        font-weight: 900;
        padding: 0.6rem;
    }

    #linkedin-logo-animation-home-container {
        height: 40px;
        margin-right: -5px;
        width: 60px;
    }
    
    #github-logo-animation-home-container {
        height: 50px;
        width: 50px;
    }

    /* About */
    .about {
        height: max-content;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
    }

    .about-title {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .about img {
        display: none;
    }

    .about-title h2 {
        font-size: 2rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .about-content {
        padding: 1.5rem 0;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .about-content a {
        font-weight: 900;
        font-size: 1rem;
        position: relative;
    }

    .about-content a:after {
        background-color: #000000;
        bottom: -2.5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    .about-content span {
        font-weight: 900;
        font-size: 1rem;
    }

    /* Skills and projects */
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 700px;
        height: 30vh;
        overflow: hidden;
    }

    .skills-title h2 {
        font-size: 2rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .logos img {
        height: 50px;
        margin: 0 2rem;
        padding: 0 1rem;
    }

    .projects-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card h3 {
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    /* Technology Watch */
    .technology-watch-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
    }

    .technology-watch-container h2 {
        font-size: 2rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        padding: 1rem;
    }

    .technology-watch-container p {
        padding: 0.5rem 0;
        font-size: 1rem;
        line-height: 2rem;
    }

    .technology-watch-container .letter {
        font-size: 2rem;
    }

    .technology-watch-container a {
        font-weight: 900;
        font-size: 1rem;
        position: relative;
    }

    .technology-watch-container a:after {
        background-color: #000000;
        bottom: 2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    /* Contact */
    .contact-container {
        width: 400px;
    }

    .contact-title h2 {
        color: #ffffff;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    form .contact-input-container .contact-item input {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        height: 50px;
        margin-top: 0.5rem;
        color: #ffffff;
        padding: 1rem;
        width: 100%;
    }
    
    form .contact-textarea-container textarea {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-top: 0.5rem;
        padding: 1rem;
        width: 100%;
        color: #ffffff;
        height: 150px;
    }

    .submit {
        background: #ffffff;
        border-radius: 5px;
        color: #000000;
        cursor: pointer;
        font-weight: 900;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        border: 2px solid #ffffff;
    }

    /* Footer */
    .footer-links {
        align-items: center;
        display: flex;
        padding: 2rem;
    }

    #linkedin-logo-animation-footer-container {
        height: 30px;
        width: 40px;
    }

    #github-logo-animation-footer-container {
        height: 60px;
        width: 40px;
    }

    .copyright p {
        font-size: 1rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
        color: #000000;
        font-weight: 900;
    }
}


























@media only screen and (min-width: 1200px) {
    .laptop-navbar {
        display: block;
    }

    .mobile-navbar {
        display: none;
    }

    .home-container h1 {
        color: #ffffff;
        font-size: 1.5rem;
        text-shadow:
        2.5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .home-carousel-wrapper {
        background-color: none;
        box-sizing: content-box;
        display: flex;
        height: 100px;
        padding: 1rem 0;
        width: auto;
    }
    
    .home-carousel-wrapper p {
        color: #ffffff;
        font-size: 5rem;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        text-shadow: 
        5px 0px 0px #000000;
    }

    .home-carousel-wrapper span {
        animation: spin_words 6s infinite;
        color: #ffffff;
        display: block;
        font-size: 5rem;
        padding-left: 1.5rem;
        text-shadow: 
        5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        height: 100px;
    }

    .home-link-1-a {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        display: block;
        font-weight: 900;
        padding: 0.6rem;
    }

    #linkedin-logo-animation-home-container {
        height: 40px;
        margin-right: -5px;
        width: 60px;
    }
    
    #github-logo-animation-home-container {
        height: 50px;
        width: 50px;
    }

    /* About */
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
    }

    .about-title {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 350px;
    }

    .about img {
        display: flex;
        height: 200px;
        width: 200px;
        border: 2px solid #000000;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .about-title h2 {
        font-size: 2.5rem;
        font-weight: 900;
        padding: 0.25rem 1.25rem;
        background-color: #000000;
        color: #ffffff;
        position: absolute;
        margin-left: 450px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .about-content {
        padding: 1.5rem 0;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .about-content a {
        font-weight: 900;
        font-size: 1rem;
        position: relative;
    }

    .about-content a:after {
        background-color: #000000;
        bottom: -2.5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    .about-content span {
        font-weight: 900;
        font-size: 1rem;
    }

    /* Skills and projects */
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 900px;
        height: 30vh;
        overflow: hidden;
    }

    .skills-title h2 {
        font-size: 2.5rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .logos img {
        height: 60px;
        margin: 0 2.5rem;
        padding: 0 1.5rem;
    }

    .projects-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .card h3 {
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    /* Technology Watch */
    .technology-watch-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
    }

    .technology-watch-container h2 {
        font-size: 2.5rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        padding: 1.5rem;
    }

    .technology-watch-container p {
        padding: 0.5rem 0;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    .technology-watch-container .letter {
        font-size: 2.5rem;
    }

    .technology-watch-container a {
        font-weight: 900;
        font-size: 1.25rem;
        position: relative;
    }

    .technology-watch-container a:after {
        background-color: #000000;
        bottom: 2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    /* Contact */
    .contact-container {
        width: 500px;
    }

    .contact-title h2 {
        color: #ffffff;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    form .contact-input-container .contact-item input {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        height: 50px;
        margin-top: 1rem;
        color: #ffffff;
        padding: 1rem;
        width: 100%;
    }
    
    form .contact-textarea-container textarea {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;
        color: #ffffff;
        height: 200px;
    }

    .submit {
        background: #ffffff;
        border-radius: 5px;
        color: #000000;
        cursor: pointer;
        font-weight: 900;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: 2px solid #ffffff;
    }

    /* Footer */
    .footer-links {
        align-items: center;
        display: flex;
        padding: 2rem;
    }

    #linkedin-logo-animation-footer-container {
        height: 30px;
        width: 40px;
    }

    #github-logo-animation-footer-container {
        height: 60px;
        width: 40px;
    }

    .copyright p {
        font-size: 1rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
        color: #000000;
        font-weight: 900;
    }
}




























@media only screen and (min-width: 1400px) {
    .laptop-navbar {
        display: block;
    }

    .mobile-navbar {
        display: none;
    }

    .home-container h1 {
        color: #ffffff;
        font-size: 2rem;
        text-shadow:
        2.5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .home-carousel-wrapper {
        background-color: none;
        box-sizing: content-box;
        display: flex;
        height: 125px;
        padding: 1rem 0;
        width: auto;
    }
    
    .home-carousel-wrapper p {
        color: #ffffff;
        font-size: 6rem;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        text-shadow: 
        5px 0px 0px #000000;
    }

    .home-carousel-wrapper span {
        animation: spin_words 6s infinite;
        color: #ffffff;
        display: block;
        font-size: 6rem;
        padding-left: 1.75rem;
        text-shadow: 
        5px 0px 0px #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        height: 125px;
    }

    .home-link-1-a {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        display: block;
        font-weight: 900;
        padding: 0.6rem;
    }

    #linkedin-logo-animation-home-container {
        height: 40px;
        margin-right: -5px;
        width: 60px;
    }
    
    #github-logo-animation-home-container {
        height: 50px;
        width: 50px;
    }

    /* About */
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 900px;
    }

    .about-title {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 450px;
    }

    .about img {
        display: flex;
        height: 300px;
        width: 300px;
        border: 2px solid #000000;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .about-title h2 {
        font-size: 3rem;
        font-weight: 900;
        padding: 0.75rem 1.75rem;
        background-color: #000000;
        color: #ffffff;
        position: absolute;
        margin-left: 550px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .about-content {
        padding: 2rem 0;
    }

    .about-content p {
        font-size: 1.50rem;
        line-height: 2.5rem;
    }

    .about-content a {
        font-weight: 900;
        font-size: 1.50rem;
        position: relative;
    }

    .about-content a:after {
        background-color: #000000;
        bottom: -5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    .about-content span {
        font-weight: 900;
        font-size: 1.50rem;
    }

    /* Skills and projects */
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 1100px;
        height: 30vh;
        overflow: hidden;
    }

    .skills-title h2 {
        font-size: 3rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    .logos img {
        height: 70px;
        margin: 0 3rem;
        padding: 0 2rem;
    }

    .projects-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .card h3 {
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    /* Technology Watch */
    .technology-watch-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 900px;
    }

    .technology-watch-container h2 {
        font-size: 3rem;
        color: #000000;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
        padding: 2rem;
    }

    .technology-watch-container p {
        padding: 1rem 0;
        font-size: 1.50rem;
        line-height: 2.5rem;
    }

    .technology-watch-container .letter {
        font-size: 3rem;
    }

    .technology-watch-container a {
        font-weight: 900;
        font-size: 1.50rem;
        position: relative;
    }

    .technology-watch-container a:after {
        background-color: #000000;
        bottom: 2.5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 0;
    }

    /* Contact */
    .contact-container {
        width: 600px;
    }

    .contact-title h2 {
        color: #ffffff;
        font-size: 2rem;
        padding: 2rem;
        text-align: center;
        font-family: "Cocogoose", Arial, Helvetica, sans-serif;
    }

    form .contact-input-container .contact-item input {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        height: 50px;
        margin-top: 1rem;
        color: #ffffff;
        padding: 1rem;
        width: 100%;
    }
    
    form .contact-textarea-container textarea {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;
        color: #ffffff;
        height: 200px;
    }

    .submit {
        background: #ffffff;
        border-radius: 5px;
        color: #000000;
        cursor: pointer;
        font-weight: 900;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: 2px solid #ffffff;
    }

    /* Footer */
    .footer-links {
        align-items: center;
        display: flex;
        padding: 2rem;
    }

    #linkedin-logo-animation-footer-container {
        height: 40px;
        width: 50px;
    }

    #github-logo-animation-footer-container {
        height: 70px;
        width: 50px;
    }

    .copyright p {
        font-size: 1rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
        color: #000000;
        font-weight: 900;
    }
} 