@font-face {
    font-family: "Quicksand";
    src: url(content/fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Tropika";
    src: url(content/fonts/Aiyari\ -\ Tropika\ Island\ Script\ Casual.otf);
}

/* a6e1fa */
*,
*:before,
*:after {
    -webkit-tap-highlight-color: transparent !important;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    list-style: none;
    margin: 0;
    outline: none !important;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #000000;
    max-height: 100svh;
    max-width: 100svw;
    overflow-x: hidden;
}

section {
    height: 100svh;
    width: 100svw;
}

.hidden {
    display: none;
}

/* Header */
header {
    align-items: center;
    background: #000000;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    position: fixed;
    transition: all .2s ease-in-out;
    width: 100%;
    z-index: 99;
}

.logo {
    background: none;
    font-family: "Tropika", Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.laptop-navbar {
    display: flex;
    justify-content: center;
}

.laptop-navbar nav ul {
    display: flex;
}

.laptop-navbar nav ul li {
    padding: 0 1rem;
    text-transform: uppercase;
}

.element {
    font-weight: 500;
    position: relative;
}

.element:hover {
    color: #ffffff;
}

.element:after {
    background-color: #ffffff;
    bottom: -10px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.element:hover:after {
    width: 100%;
}

.scrolled {
    background-color: #ffffff;
    transition: all .5s ease-in-out;
}

.scrolled .logo {
    background: none;
    color: #000000;
}

.scrolled .element {
    color: #000000;
}

.scrolled .element:hover {
    color: #000000;
}

.scrolled .element:after {
    background-color: #000000;
}

.hamburger,
.bar {
    position: fixed;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 30px;
    right: 1rem;
    top: 2rem;
    transform: translateY(-50%);
    width: 30px;
}

.bar {
    background: #ffffff;
    border-radius: 2px;
    height: 5px;
    top: 3px;
    transition: all .1s ease-in;
    width: 100%;
}

.scrolled .bar {
    background: #000000;
}

#bar2 {
    top: 11px;
}

#bar3 {
    top: 19px;
}

.hamburger.open #bar1 {
    background-color: #000000;
    border-radius: 2px;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
    background-color: transparent;
    border-radius: 2px;
}

.hamburger.open #bar3 {
    background-color: #000000;
    border-radius: 2px;
    transform: rotate(-45deg) translate(6px, -5px);
}

.mobile-navbar {
    background: #ffffff;
    height: 100%;
    position: fixed;
    right: -101%;
    top: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.mobile-navbar nav {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.mobile-navbar nav ul {
    width: 100%;
}

.mobile-navbar nav ul li {
    padding: 2rem 0rem;
    text-align: center;
    text-transform: uppercase;
}

.mobile-navbar nav ul li a {
    color: #000000;
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
}

.mobile-navbar.active {
    right: 0;
}

@media only screen and (max-width: 600px) {
    .mobile-navbar {
        display: block;
    }

    .laptop-navbar {
        display: none;
    }

    .home {
        align-items: center;
        display: flex;
        justify-content: center;
        background: url(content/images/video.gif);
        background-size: cover;
        background-position: left;
    }

    .home-container {
        align-items: left;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    .home-container h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .home-carousel-container {
        border-bottom: solid white;
    }

    .home-carousel-wrapper {
        background-color: none;
        box-sizing: content-box;
        display: flex;
        height: 40px;
        padding: 0.5rem 0;
        width: 100%;
    }

    .home-carousel-wrapper p {
        font-size: 2rem;
        font-weight: 500;
    }

    .home-carousel-wrapper span {
        animation: spin_words 6s infinite;
        display: block;
        font-size: 2rem;
        font-weight: 900;
        height: 100%;
        padding-left: 0.5rem;
    }

    @keyframes spin_words {
        15% {
            transform: translateY(-112%);
        }

        40% {
            transform: translateY(-100%);
        }

        55% {
            transform: translateY(-212%);
        }

        70% {
            transform: translateY(-200%);
        }

        85% {
            transform: translateY(-312%);
        }

        100% {
            transform: translateY(-300%);
        }
    }

    .words {
        overflow: hidden;
    }

    .home-links {
        align-items: center;
        display: flex;
    }

    .home-link-1 {
        background-color: #ffffff;
        border: solid;
        border-radius: 5px;
        display: inline-block;
        overflow: hidden;
    }

    .home-link-1-a {
        background-color: transparent;
        color: #000000;
        border: none;
        border-radius: 10px;
        display: block;
        font-size: 1rem;
        padding: 0.5rem;
        font-weight: 500;
        text-align: center;
    }

    .home-link-2,
    .home-link-3 {
        background-color: transparent;
        border: none;
    }

    #linkedin-logo-animation-home-container {
        height: 40px;
        margin-right: -5px;
        width: 60px;
    }

    #github-logo-animation-home-container {
        height: 50px;
        width: 50px;
    }

    /* About */

    .about {
        background-color: #ffffff;
        height: auto;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .about-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .about-title img {
        display: none;
    }
    
    .about-title h2 {
        font-size: 2rem;
        color: #000000;
        font-weight: 900;
    }

    .about-content {
        padding: 1rem;
    }
    
    .about-container p {
        font-size: 1rem;
        color: #000000;
        text-align: justify;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .about-container a {
        font-size: 1rem;
        color: #000000;
        font-weight: 900;
    }

    .skills {
        display: flex;
        height: 20svh;
        background-color: #ffffff;
    }

    .skills-slider {
        height: 100%;
        position: relative;
        overflow: hidden;
        width: auto;
        display: flex;
    }
  
  .skills-slider::before,
  .skills-slider::after {
    height: 100%;
    position: absolute;
    content: "";
    overflow: hidden;
    width: 150px;
    display: flex;
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
  }
  
  .skills-slider::before {
    left: 0;
    top: 0;
  }
  
  .skills-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  @keyframes slideshow {
    0%{
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    display: flex;
    align-items: center;
    animation: 30s slideshow infinite linear;
    height: 100%;
  }

  .logos img {
    height: 50px;
    padding: 0 1.5rem;
    margin: 0 0.5rem;
  }

  .projects {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .projects-container h2 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: #000000;
    font-weight: 900;
  }

  .projects-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
  }
  
  .card a {
    background-color: #000000;
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .technology-watch {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
  }
  
  .technology-watch-container {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .technology-watch-container h2 {
    font-size: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    color: #000000;
    font-weight: 900;
  }

  .technology-watch-container p {
    font-size: 1rem;
    color: #000000;
    text-align: justify;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.5rem;
  }

  .technology-watch-container .letter {
    font-size: 2rem;
    color: #000000;
    text-align: justify;
    font-weight: 500;
  }

  .technology-watch-container a {
    font-size: 1rem;
    color: #000000;
    text-align: justify;
    font-weight: 900;
    border-bottom: solid #000000;
  }

  /* Main - Contact */

.contact {
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .contact-container {
    width: 90%;
  }

  .contact-title h2 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 0;
    text-align: center;
  }

  form {
    width: 100%;
  }
  form .contact-half-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
  }
  form .contact-half-container .contact-item input {
    border: solid rgb(255, 255, 255) 1px;
    background: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 1rem;
    outline: none;
    margin-top: 1rem;
  }
  form .contact-half-container .contact-item input::placeholder {
    color: rgb(255, 255, 255);
  }
  form .contact-full-container textarea{
    border: solid rgb(255, 255, 255) 1px;
    background: none;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
  form .contact-full-container textarea::placeholder{
    color: rgb(255, 255, 255);
  }

  form .contact-half-container .contact-item input:focus, 
  form .contact-full-container textarea:focus, 
  form a:hover{
    border: solid rgb(255, 255, 255) 2px;
    transition: all .2s ease-in-out;
  }

  .submit{
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid white;
    cursor: pointer;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  
  /* Footer */
  
  footer {
    align-items: end;
    bottom: 0;
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 100%;
  }

  .footer-link-2,
  .footer-link-3 {
      background-color: transparent;
      border: none;
      padding-bottom: 10px;
      padding-right: 5px;
  }

  #linkedin-logo-animation-footer-container {
      height: 40px;
      margin-right: -5px;
      width: 50px;
  }

  #github-logo-animation-footer-container {
    padding-top: 15px;
      height: 60px;
      width: 50px;
  }

  .copyright {
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
    .mobile-navbar {
        display: block;
    }

    .laptop-navbar {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-navbar {
        display: block;
    }

    .laptop-navbar {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-navbar {
        display: none;
    }

    .laptop-navbar {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-navbar {
        display: none;
    }

    .laptop-navbar {
        display: block;
    }
}

img {
    height: 100px;
    width: 100px;
}